{{ form_start(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.email) }}

    {% if is_granted('ROLE_AGENT') %}
        {{ form_row(form.telefono) }}
        {{ form_row(form.cif) }}
        {{ form_row(form.dni) }}
    {% endif %}

    {{ form_widget(form._token) }}
    <div class="acciones">
        <a class="btn ml-0" role="button" href="{{ path('usuario_edit_password') }}">Cambiar Constraseña</a>
        <button class="btn mr-0">{{ button_label|default('Actualizar') }}</button>
    </div>

{{ form_end(form, {'render_rest': false}) }}
