{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/navLetter.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/ajustes.css')}}">
{% endblock %}
{% block title %}Ajustes{% endblock %}

{% block body %}
    <div id="menu-perfil">
        {% include 'navbar.html.twig' %}
    </div>

    <div class="ajustesContenedor">
        <h1 class="mb-2">Contraseña</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div id="passwordbtn" class="mt-2">
                <button class="btn">{{ button_label|default('Actualizar') }}</button>
            </div>
        {{ form_end(form) }}
    </div>

    <div id="particles-js"></div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/particles.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>

{% endblock %}
