{{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    {{ form_row(form.titulo) }}
    {{ form_row(form.media)}}
    {{ form_row(form.historia) }}
    {{ form_row(form.marcaAutor) }}

    <div class="acciones">
        <button class="btn">{{ button_label|default('Crear') }}</button>
    </div>

{{ form_end(form) }}
