{% extends 'base.html.twig' %}

{% block title %}Art Wonder{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Media</th>
                <th>Historia</th>
                <th>Etiquetas</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wond_art in wond_arts %}
            <tr>
                <td>{{ wond_art.id }}</td>
                <td>{{ wond_art.titulo }}</td>
                <td>{{ wond_art.media }}</td>
                <td>{{ wond_art.historia }}</td>
                <td>{{ wond_art.etiquetas }}</td>
                <td>
                    <a href="{{ path('wond_art_show', {'id': wond_art.id}) }}">show</a>
                    <a href="{{ path('wond_art_edit', {'id': wond_art.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wond_art_new') }}">Create new</a>
{% endblock %}
