{% extends 'base.html.twig' %}

{% block title %}WondArt{% endblock %}

{% block body %}
    <h1>WondArt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titulo</th>
                <td>{{ wond_art.titulo }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td><img src="{{ asset('uploads/wondarts/' ~ wond_art.media) }}" alt="No se ha podido cargar la imagen"></td>
            </tr>
            <tr>
                <th>Historia</th>
                <td>{{ wond_art.historia }}</td>
            </tr>
            <tr>
                <th>Etiquetas</th>
                <td>{{ wond_art.etiquetas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wond_art_index') }}">back to list</a>

    <a href="{{ path('wond_art_edit', {'id': wond_art.id}) }}">edit</a>

    {{ include('wond_art/_delete_form.html.twig') }}
{% endblock %}
