{% extends 'base.html.twig' %}

{% block title %}Art Wonder{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/navLetter.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="menu-home">
            {% include 'navbar_home.html.twig' %}
        </div>
    {% else %}
        <div id="menu-home">
            {% include 'navbar_home_anon.html.twig' %}
        </div>
    {% endif %}
{#    <div id="particles-js"></div>#}

    <br>

    <div class="container" id="contenedor_wondarts"></div>
    <div class="wait"><img class="img-fluid" id='loadimg' src={{ asset('assets/js/load.gif') }} alt='loading'/> </div>


{% endblock %}

{% block javascripts %}
    <script>
        var limit = {{ limit }}
        {% if search %}
            var search = "{{ search }}".toLowerCase()
        {% else %}
            var search = null;
        {% endif %}
    </script>
    <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/infinite-scroll.js') }}"></script>
    <script src="{{ asset('assets/js/wondartBehavior.js') }}"></script>
    <script src="{{ asset('assets/js/homeBehavior.js') }}"></script>
{#    <script src="{{ asset('assets/js/particles.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/app.js') }}"></script>#}
{% endblock %}