{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navLetter.css') }}">
{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="menu-register">
            {% include 'navbar.html.twig' %}
        </div>
    {% else %}
        <div id="menu-register">
            {% include 'navbar_anon.html.twig' %}
        </div>
    {% endif %}

    <div id="particles-js"></div>
    <div class="container">
        <h1>Rellena con tus datos</h1>
        {{ form_start(registrationForm) }}
        <div class="form-error">
            {{ form_errors(registrationForm) }}
        </div>
        {{ form_row(registrationForm.rol) }}
        {{ form_row(registrationForm.nombre) }}
        {{ form_row(registrationForm.email) }}
        {{ form_widget(registrationForm.password) }}

        <div class="agentForm">
            {{ form_row(registrationForm.dni) }}
            {{ form_row(registrationForm.telefono) }}
            {{ form_row(registrationForm.cif) }}
        </div>

        {{ form_rest(registrationForm) }}
        <div class="botones">
            <button class="btn">Aceptar</button>
            <button class="btn" type="reset">Resetear</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/registerBehavior.js') }}"></script>
    <script src="{{ asset('assets/js/particles.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
