{{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        {{ form_row(form.nombre) }}
        {{ form_row(form.email) }}
        {{ form_row(form.telefono) }}

        <div class="acciones">
            <button class="btn">{{ button_label|default('Crear Nueva') }}</button>
        </div>

{{ form_end(form) }}
