{% extends 'base.html.twig' %}

{% block title %}Marcas Autor{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/marca.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navLetter.css') }}">
{% endblock %}

{% block body %}

    <div>
        {% include 'navbar.html.twig' %}
    </div>

    <div class="contenedor">
        <div class="index-block">
            <h1>Marcas</h1>
            <div id="controles">
                <button class="btn btn-lg" id="new">Nueva Marca</button>
            </div>

            <table class="table">
                <tbody>
                {% for marca_autor in marca_autors %}
                    <tr>
                        <td class="name_brand">{{ marca_autor.nombre }}</td>
                        <td>
                            <a class="btn" role="button" href="{{ path('marca_autor_show', {'id': marca_autor.id}) }}">Mostrar</a>
                            <button class="edit btn" data-id="{{ marca_autor.id }}">Editar</button>
                            {{ include('marca_autor/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
        <div class="form-block" id="form-new"></div>
        <div class="form-block" id="form-edit"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/marcaBehavior.js') }}"></script>
{% endblock %}