<nav class="navbar navbar-expand shadow-sm">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <form action="" class="form-inline" method="get" role="search">
            <div class="form-group">
                <input type="search" class="form-control border-left-0 border-top-0 border-right-0" name="query"
                       value="{{ app.request.get('query') }}" required>
            </div>
            <button type="submit" class="form-control border-0"><span class="fa fa-search"></span></button>
        </form>
        <ul class="navbar-nav ml-auto" id="menu">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }} ">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('marca_autor_index') }}">Mis Marcas</a>
                    <a class="dropdown-item" href="{{ path('wond_art_index') }}">Mis WondArts</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>